body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
    background: linear-gradient(#ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
}

.profile {
    top: 10px;
    border-radius: 50%;
    height: 350px;
    width: 330px;
}

#welcome {
    top: 0px;
    position: absolute;
    bottom: 0;
    display: table;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

#name {
    font-size: 50px;
    font-family: 'Pacifico', cursive;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    font-family: monospace;
}

#bio {
    font-family: 'Cinzel Decorative', cursive;
    padding: 50px;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

.parallax-inner {
    display: table-cell;
    vertical-align: middle;
}

.menu {
    position: fixed;
    background-color: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
    line-height: 2;
}

#span_tag {
    word-spacing: 20px;
}

.links {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: black;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;
}

b {
    font-size: 25px;
}